* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: "Montserrat", sans-serif;
    height: 1000vh;
}

nav .search,
nav .search:focus {
    background: #242526;
    border-color: #747474;
    color: #fff;
}

.user_avatar_nav {
    cursor: pointer;
    padding: 2px;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.user_avatar_nav:hover {
    background: rgb(234, 234, 234);
}