* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: "Montserrat", sans-serif;
    height: 1000vh;
}


/* ----------------------- */

.courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;        
}
.course-delete{
    display: inlite-block;
    background-color:red;
    margin-left: 25px;
    border:none;
}
.course-title{
    display:inlite-block;
    width: 300px;
    height:100%;
    border:none;
}
.course {
    display:bock;
    width: 400px;
    height: 100px;
    background-color:red;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 7px rgb(48 48 48 / 39%);    
    margin-top: 4rem;
}

.course:hover {
    box-shadow: 0 0 5px rgba(132, 132, 132, 0.5), 0 0 15px rgba(95, 95, 95, 0.5);
}


.add button {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #333333;
    background-image: url('/static/icons/add.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 0;
    outline: 0;
  }

  .add {
    position: fixed;
    right: 25px;
    bottom: 25px;
  }

  .add button:hover {
    background-color: #ba8300;
  }